 <!doctype html>
 <html lang="en">
 <head>
    <title>React Redux Starter Kit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script type="text/javascript" src="http://192.168.56.1:3003/vendor.1160598deeb6c6f21fac.js"></script>
   <script type="text/javascript" src="http://192.168.56.1:3003/app.1160598deeb6c6f21fac.js"></script>
  </head>
 <body>
 <div id="root" style="height: 100%">
    <%- markup %>
  </div>
 </body>
 </html>
